{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{ products.description }}
{% endblock %}

{% block title %}
    {{ products.name }} -- cineseek
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row ml-1 mb-5">
            <a class="btn btn-light" href="{{ movies.category.get_url }}">{{ movies.category }}</a>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-2">
                <a href="#">
                    <img class="img-fluid rounded" src="{{ movies.Poster.url }}" alt="movies Image">
                </a>
            </div>
            <div class="col-lg-8">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="text-uppercase my_title">{{ movies.Movie_Title }}</h2>
                </div>
                <p class="lead ">Movie Description:</p>
                <p class="text-justify my_title4">{{ movies.Description }}</p>
                <b><p class="lead">Actors:</p></b>
                <p class="text-justify my_title4">{{ movies.Actors }}</p>
                <p class="lead">Realease Date:</p>
                <p class="text-justify">{{ movies.Release_date }}</p>

                <p class="text-left my_title4">Watch Trailer: <a href="{{ movies.youtube_link }}">{{ movies.youtube_link }}</a></p>

            </div>
        </div>
    </div>
{% endblock %}

